data/raw/*
data/processed/*
data/models/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

*.csv
*.parquet
*.duckdb
*.log
__pycache__/
.venv/
.DS_Store
.AppleDouble
._*
.Spotlight-V100
.Trashes
.opencode
ehthumbs.db
Thumbs.db
opencode.jsonc
init_project.sh
sids_V*.md

web_app/frontend/dist/

CLAUDE.md
GEMINI.md
